.submit-btn {
  text-align: center;
  margin: 30px 0 0 !important;
}
#custom-form {
box-shadow: 0 0 18px #ccc;
padding: 30px 30px;
margin-top: 40px;
}
.submit-btn ion-button {
  display: block;
  width: 100%;
}
#custom-form .submit-btn1{
  margin: 10px 0 !important;
}

