<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-button class="ion-float-right" [routerLink]="'/login'"><ion-icon slot="icon-only" name="person-circle"></ion-icon></ion-button>
  </ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button  [routerLink]="'/login'">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="banner ion-text-center">
    <h1>Welcome to Our Resturent</h1>
    <p>Lorem ipsum simply a dummy text</p>
  </div>
  <ion-toolbar color="primary" class="why-choose ion-text-center">
    <h2>Why choose us</h2>
    <ion-img src="https://cdn.pixabay.com/photo/2016/11/06/23/31/breakfast-1804457_960_720.jpg"></ion-img>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
</ion-toolbar>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">@2021.All Rights Reserved</ion-title>
  </ion-toolbar>
</ion-footer>
