ion-title.md.title-default.hydrated {
  display: inline-block !important;
  padding-top: 10px;
}
.banner {
  padding: 50px 0;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3Kt39YiII_udj_fI3zODQrGExTWTpoJMug&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
}
ion-button{
  --box-shadow:none;
}

